### Initialisation

In [439]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

And here are some example problem statements related to the above prompts. Come up with your own or modify these for your needs, do not just copy the ones given here:
> * The new format for the SAT was released in March 2016. Since then, levels of participation in multiple states have changed with varying legislative decisions. This project aims to explore trends in SAT and ACT participation for the years 2017-2019 and seeks to identify states that have decreasing SAT participation rates.

> * High school students often know which colleges they would like to consider, but rarely know what SAT or ACT score they should aim for when applying to these colleges. We wish to explore the schools that have the highest and lowest SAT and ACT score requirements and see if there is a relationship between college prestige and test scores.

> * The state of California has many school districts. This project aims to identify the districts that have the worst overall student performance on the SAT and ACT tests so the state can recommend programs and allocate resources to these districts in need. 

> * We hypothesize that student performance on these tests is not an indicator of overall academic performance. This project seeks to see if a relationship exists between student GPA and SAT/ACT scores to support or oppose the continuation of these tests as a requirement for college applications.

> * *Feel free to be creative with your own problem statement!*

### File Organisation

In [440]:
act2017_file = '../data/act_2017.csv'
act2018_file = '../data/act_2018.csv'
act2019_file = '../data/act_2019.csv'

sat2017_file = '../data/sat_2017.csv'
sat2018_file = '../data/sat_2018.csv'
sat2019_file = '../data/sat_2019.csv'

act2019ca_file = '../data/act_2019_ca.csv' # 2019 ACT Scores in California by School
sat2019ca_file = '../data/sat_2019_ca.csv' # 2019 SAT Scores in California by School
sat2019_intended_file = '../data/sat_2019_by_intended_college_major.csv' # 2019 SAT Scores by Intended College Major
sat_act_bycollege_file = '../data/sat_act_by_college.csv' # Ranges of Accepted ACT & SAT Student Scores by Colleges

gdp_by_states2019_file = '../data/gdp_by_states2019.csv' # GDP By States

In [441]:
act2017_df=pd.read_csv(act2017_file)
act2018_df=pd.read_csv(act2018_file)
act2019_df=pd.read_csv(act2019_file)

sat2017_df=pd.read_csv(sat2017_file)
sat2018_df=pd.read_csv(sat2018_file)
sat2019_df=pd.read_csv(sat2019_file)

In [442]:
act2019ca_df = pd.read_csv(act2019ca_file)
sat2019ca_df = pd.read_csv(sat2019ca_file)

sat2019_intended_df = pd.read_csv(sat2019_intended_file)
sat_act_bycollege_df = pd.read_csv(sat_act_bycollege_file)

In [443]:
gdp_by_states2019_file = '../data/gdp_by_states2019.csv' # GDP By States

In [444]:
gdp_by_states2019_df = pd.read_csv(gdp_by_states2019_file, on_bad_lines='skip')

### ACT Data Cleaning

2017 ACT Scores by State

In [445]:
act2017_df[0:10]
# Your Composite score and each test score (English, mathematics, reading, science) range from 1 (low) to 36 (high). 
# The Composite score is the average of your four test scores, rounded to the nearest whole number. 
# Fractions less than one-half are rounded down; fractions one-half or more are rounded up.

,State,Participation,English,Math,Reading,Science,Composite
0,National,60%,20.3,20.7,21.4,21.0,21.0
1,Alabama,100%,18.9,18.4,19.7,19.4,19.2
2,Alaska,65%,18.7,19.8,20.4,19.9,19.8
3,Arizona,62%,18.6,19.8,20.1,19.8,19.7
4,Arkansas,100%,18.9,19.0,19.7,19.5,19.4
5,California,31%,22.5,22.7,23.1,22.2,22.8
6,Colorado,100%,20.1,20.3,21.2,20.9,20.8
7,Connecticut,31%,25.5,24.6,25.6,24.6,25.2
8,Delaware,18%,24.1,23.4,24.8,23.6,24.1
9,District of Columbia,32%,24.4,23.5,24.9,23.5,24.2

In [446]:
act2017_df.set_index('State')
act2017_df.head()

      State Participation  English  Math  Reading  Science Composite
0  National           60%     20.3  20.7     21.4     21.0      21.0
1   Alabama          100%     18.9  18.4     19.7     19.4      19.2
2    Alaska           65%     18.7  19.8     20.4     19.9      19.8
3   Arizona           62%     18.6  19.8     20.1     19.8      19.7
4  Arkansas          100%     18.9  19.0     19.7     19.5      19.4

In [447]:
act2017_df.drop(['English','Math', 'Reading', 'Science'], axis=1, inplace=True)
act2017_df.head()

      State Participation Composite
0  National           60%      21.0
1   Alabama          100%      19.2
2    Alaska           65%      19.8
3   Arizona           62%      19.7
4  Arkansas          100%      19.4

In [448]:
act2017_df.shape

(52, 3)

2018 ACT Scores by State

In [449]:
act2018_df[0:10]

                  State Participation  Composite
0               Alabama          100%       19.1
1                Alaska           33%       20.8
2               Arizona           66%       19.2
3              Arkansas          100%       19.4
4            California           27%       22.7
5              Colorado           30%       23.9
6           Connecticut           26%       25.6
7              Delaware           17%       23.8
8  District of columbia           32%       23.6
9               Florida           66%       19.9

In [450]:
act2018_df.set_index('State')
act2018_df.head()

        State Participation  Composite
0     Alabama          100%       19.1
1      Alaska           33%       20.8
2     Arizona           66%       19.2
3    Arkansas          100%       19.4
4  California           27%       22.7

In [451]:
act2018_df.shape

(52, 3)

2019 ACT Scores by State

In [452]:
act2019_df[0:10]

                  State Participation  Composite
0               Alabama          100%       18.9
1                Alaska           38%       20.1
2               Arizona           73%       19.0
3              Arkansas          100%       19.3
4            California           23%       22.6
5              Colorado           27%       23.8
6           Connecticut           22%       25.5
7              Delaware           13%       24.1
8  District of Columbia           32%       23.5
9               Florida           54%       20.1

In [453]:
act2019_df.set_index('State')
act2019_df.head()

        State Participation  Composite
0     Alabama          100%       18.9
1      Alaska           38%       20.1
2     Arizona           73%       19.0
3    Arkansas          100%       19.3
4  California           23%       22.6

In [454]:
act2019_df.shape

(52, 3)

In [455]:
merged_df = pd.merge(act2018_df,act2019_df,on='State',how='outer')
merged_df.head()

        State Participation_x  Composite_x Participation_y  Composite_y
0     Alabama            100%         19.1            100%         18.9
1      Alaska             33%         20.8             38%         20.1
2     Arizona             66%         19.2             73%         19.0
3    Arkansas            100%         19.4            100%         19.3
4  California             27%         22.7             23%         22.6

In [456]:
merged_df.shape

(54, 5)

In [457]:
mergedACT_df = pd.merge(act2017_df, merged_df, on='State', how='outer')
mergedACT_df.head()

,State,Participation,Composite,Participation_x,Composite_x,Participation_y,Composite_y
0,National,60%,21.0,NaN,NaN,52%,20.7
1,Alabama,100%,19.2,100%,19.1,100%,18.9
2,Alaska,65%,19.8,33%,20.8,38%,20.1
3,Arizona,62%,19.7,66%,19.2,73%,19.0
4,Arkansas,100%,19.4,100%,19.4,100%,19.3

In [458]:
mergedACT_df.rename(columns={'Participation':'2017 Participation', 'Composite': '2017 Composite', 'Participation_x':'2018 Participation', 'Composite_x':'2018 Composite', 'Participation_y':'2019 Participation', 'Composite_y':'2019 Composite'}, inplace=True)
mergedACT_df.set_index('State')
mergedACT_df.style.set_caption('Merged ACT Data') # doesnt work
mergedACT_df#.head()

,State,2017 Participation,2017 Composite,2018 Participation,2018 Composite,2019 Participation,2019 Composite
0,National,60%,21.0,NaN,NaN,52%,20.7
1,Alabama,100%,19.2,100%,19.1,100%,18.9
2,Alaska,65%,19.8,33%,20.8,38%,20.1
3,Arizona,62%,19.7,66%,19.2,73%,19.0
4,Arkansas,100%,19.4,100%,19.4,100%,19.3
5,California,31%,22.8,27%,22.7,23%,22.6
6,Colorado,100%,20.8,30%,23.9,27%,23.8
7,Connecticut,31%,25.2,26%,25.6,22%,25.5
8,Delaware,18%,24.1,17%,23.8,13%,24.1
9,District of Columbia,32%,24.2,NaN,NaN,32%,23.5
10,Florida,73%,19.8,66%,19.9,54%,20.1
11,Georgia,55%,21.4,53%,21.4,49%,21.4
12,Hawaii,90%,19.0,89%,18.9,80%,19.0
13,Idaho,38%,22.3,36%,22.3,31%,22.5
14,Illinois,93%,21.4,43%,23.9,35%,24.3
15,Indiana,35%,22.6,32%,22.5,29%,22.5
16,Iowa,67%,21.9,68%,21.8,66%,21.6
17,Kansas,73%,21.7,71%,21.6,72%,21.2
18,Kentucky,100%,20.0,100%,20.2,100%,19.8
19,Louisiana,100%,19.5,100%,19.2,100%,18.8
20,Maine,8%,24.3,7%,24.0,6%,24.3
21,Maine,8%,24.3,7%,24.0,6%,24.3
22,Maryland,28%,23.6,31%,22.5,28%,22.3
23,Massachusetts,29%,25.4,25%,25.5,21%,25.5
24,Michigan,29%,24.1,22%,24.2,19%,24.4
25,Minnesota,100%,21.5,99%,21.3,95%,21.4
26,Mississippi,100%,18.6,100%,18.6,100%,18.4
27,Missouri,100%,20.4,100%,20.0,82%,20.8
28,Montana,100%,20.3,100%,20.0,100%,19.8
29,Nebraska,84%,21.4,100%,20.1,100%,20.0
30,Nevada,100%,17.8,100%,17.7,100%,17.9
31,New Hampshire,18%,25.5,16%,25.1,14%,25.0
32,New Jersey,34%,23.9,31%,23.7,25%,24.2
33,New Mexico,66%,19.7,67%,19.4,63%,19.3
34,New York,31%,24.2,27%,24.5,22%,24.5
35,North Carolina,100%,19.1,100%,19.1,100%,19.0
36,North Dakota,98%,20.3,98%,20.3,96%,19.9
37,Ohio,75%,22.0,100%,20.3,100%,20.0
38,Oklahoma,100%,19.4,100%,19.3,100%,18.9
39,Oregon,40%,21.8,42%,21.3,42%,21.1
40,Pennsylvania,23%,23.7,20%,23.5,17%,23.6
41,Rhode Island,21%,24.0,15%,24.2,12%,24.7
42,South Carolina,100%,18.7,100%,18.3,78%,18.8
43,South Dakota,80%,21.8,77%,21.9,75%,21.6
44,Tennessee,100%,19.8,100%,19.6,100%,19.4
45,Texas,45%,20.7,45%,20.7,39%,20.5
46,Utah,100%,20.3,100%,20.4,100%,20.3
47,Vermont,29%,23.6,24%,24.1,20%,24.1
48,Virginia,29%,23.8,24%,23.9,21%,24.0
49,Washington,29%,21.9,24%,22.2,24%,22.1
50,West Virginia,69%,20.4,65%,20.3,49%,20.8
51,Wisconsin,100%,20.5,100%,20.5,100%,20.3
52,Wyoming,100%,20.2x,100%,20.0,100%,19.8
53,District of columbia,NaN,NaN,32%,23.6,NaN,NaN

In [459]:
mergedACT_df.shape

(54, 7)

### SAT Data Cleaning

2017 SAT Scores by State

In [460]:
sat2017_df.set_index('State')
sat2017_df.rename(columns={'Evidence-Based Reading and Writing':'EBRW'}, inplace=True)
sat2017_df.set_index('State')
sat2017_df[0:10]

# The highest composite score for the SAT is 800+800, or 1600. The average score is 1000. 
# Your section scores are the individual scores for the two main sections of the SAT: reading/writing and math. 
# Each of these sections is scored out of 800, and they are added together to get your overall score.

                  State Participation  EBRW  Math  Total
0               Alabama            5%   593   572   1165
1                Alaska           38%   547   533   1080
2               Arizona           30%   563   553   1116
3              Arkansas            3%   614   594   1208
4            California           53%   531   524   1055
5              Colorado           11%   606   595   1201
6           Connecticut          100%   530   512   1041
7              Delaware          100%   503   492    996
8  District of Columbia          100%   482   468    950
9               Florida           83%   520   497   1017

In [461]:
sat2017_df.shape

(51, 5)

2018 SAT Scores by State

In [462]:
sat2018_df.rename(columns={'Evidence-Based Reading and Writing':'EBRW'}, inplace=True)
sat2018_df.set_index('State')
sat2018_df[0:10]

                  State Participation  EBRW  Math  Total
0               Alabama            6%   595   571   1166
1                Alaska           43%   562   544   1106
2               Arizona           29%   577   572   1149
3              Arkansas            5%   592   576   1169
4            California           60%   540   536   1076
5              Colorado          100%   519   506   1025
6           Connecticut          100%   535   519   1053
7              Delaware          100%   505   492    998
8  District of Columbia           92%   497   480    977
9               Florida           56%   550   549   1099

In [463]:
sat2018_df.shape

(51, 5)

2019 SAT Scores by State

In [464]:
sat2019_df.rename(columns={'Participation Rate':'Participation'}, inplace=True)
sat2019_df.set_index('State')
sat2019_df[0:10]

                  State Participation  EBRW  Math  Total
0               Alabama            7%   583   560   1143
1                Alaska           41%   556   541   1097
2               Arizona           31%   569   565   1134
3              Arkansas            6%   582   559   1141
4            California           63%   534   531   1065
5              Colorado          100%   518   506   1024
6           Connecticut          100%   529   516   1046
7              Delaware          100%   499   486    985
8  District of Columbia           94%   495   480    975
9               Florida          100%   516   483    999

In [465]:
sat2019_df.shape

(53, 5)

In [466]:
mergedSAT_df = pd.merge(sat2018_df, sat2019_df, on='State', how='outer')
mergedSAT_df.rename(columns={'Participation_x':'2018 Participation','EBRW_x':'2018 EBRW','Math_x':'2018 Math','Total_x':'2018 Total', 'Participation_y':'2019 Participation', 'EBRW_y':'2019 EBRW','Math_y':'2019 Math', 'Total_y':'2019 Total' }, inplace=True)
mergedSAT_df.head()

,State,2018 Participation,2018 EBRW,2018 Math,2018 Total,2019 Participation,2019 EBRW,2019 Math,2019 Total
0,Alabama,6%,595.0,571.0,1166.0,7%,583,560,1143
1,Alaska,43%,562.0,544.0,1106.0,41%,556,541,1097
2,Arizona,29%,577.0,572.0,1149.0,31%,569,565,1134
3,Arkansas,5%,592.0,576.0,1169.0,6%,582,559,1141
4,California,60%,540.0,536.0,1076.0,63%,534,531,1065

In [467]:
mergedSAT_df = pd.merge(sat2017_df, mergedSAT_df, on='State', how='outer')
mergedSAT_df.rename(columns={'Participation':'2017 Participation', 'EBRW':'2017 EBRW','Math':'2017 Math', 'Total':'2017 Total'}, inplace=True)

mergedSAT_df.head()

,State,2017 Participation,2017 EBRW,2017 Math,2017 Total,2018 Participation,2018 EBRW,2018 Math,2018 Total,2019 Participation,2019 EBRW,2019 Math,2019 Total
0,Alabama,5%,593.0,572.0,1165.0,6%,595.0,571.0,1166.0,7%,583,560,1143
1,Alaska,38%,547.0,533.0,1080.0,43%,562.0,544.0,1106.0,41%,556,541,1097
2,Arizona,30%,563.0,553.0,1116.0,29%,577.0,572.0,1149.0,31%,569,565,1134
3,Arkansas,3%,614.0,594.0,1208.0,5%,592.0,576.0,1169.0,6%,582,559,1141
4,California,53%,531.0,524.0,1055.0,60%,540.0,536.0,1076.0,63%,534,531,1065

### California Data Cleaning

2019 ACT Scores in California by School

In [468]:
act2019ca_df.head()
# SName = School Name
# DName = District Name 
# CDS = Country-District-School Code https://www.google.com/search?q=cds+code&sxsrf=ALiCzsbHjUSdWeTaVBPpyTgkj_I1b6b3_A%3A1662542559568&source=hp&ei=32IYY5ayINWsoASZqJv4Bg&iflsig=AJiK0e8AAAAAYxhw7975-iFV6TwG_A3hj1gbj1qYaitC&ved=0ahUKEwjWnb3VrYL6AhVVFogKHRnUBm8Q4dUDCAk&uact=5&oq=cds+code&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEJECMg0IABCABBCHAhDJAxAUMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQ6BAgjECc6BAgAEEM6CAguELEDEIMBOgsIABCABBCxAxCDAToLCC4QgAQQsQMQgwE6EQguEIAEELEDEIMBEMcBENEDOhAILhCxAxDHARCvARDUAhBDOgoIABCxAxCDARBDOggIABCABBCxAzoHCAAQsQMQQzoKCC4QxwEQ0QMQQzoLCC4QgAQQxwEQrwFQAFjnB2D3CGgAcAB4AIABbIgB_ASSAQM2LjKYAQCgAQE&sclient=gws-wiz
# CCode = County Code
# CDCode = County-District Code
# SCode = School Code
# example https://www.cde.ca.gov/schooldirectory/details?cdscode=33669930129882
# NumTstTakr = number of test takers
# Enroll12 = 	Enrollment of Grades 9-12
# NUMGE21 = Number of Test Takers Whose ACT Composite Scores Are Greater or Equal to 21
# PCTGE21 = Percent of Test Takers Whose ACT Composite Scores Are Greater or Equal to 21
# LEGEND IS HERE: http://wgetsnaps.github.io/cde.ca.gov--ds-sp-ai/ds/sp/ai/reclayoutact.asp.html

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTstTakr,AvgScrRead,AvgScrEng,AvgScrMath,AvgScrSci,NumGE21,PctGE21,Year,Unnamed: 17
0,3.366993e+13,33.0,3366993.0,129882.0,S,21st Century Learning Institute,Beaumont Unified,Riverside,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,1.964212e+13,19.0,1964212.0,1995596.0,S,ABC Secondary (Alternative),ABC Unified,Los Angeles,58.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
2,1.563776e+13,15.0,1563776.0,1530377.0,S,Abraham Lincoln Alternative,Southern Kern Unified,Kern,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
3,4.369666e+13,43.0,4369666.0,4333795.0,S,Abraham Lincoln High,San Jose Unified,Santa Clara,463.0,53.0,23,22,22,23,34,64.15,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1935121.0,S,Abraham Lincoln Senior High,Los Angeles Unified,Los Angeles,226.0,19.0,21,20,23,22,11,57.89,2018-19,NaN

In [469]:
act2019ca_df.shape

(2310, 18)

In [470]:
list(act2019ca_df.columns.values)

['CDS',
 'CCode',
 'CDCode',
 'SCode',
 'RType',
 'SName',
 'DName',
 'CName',
 'Enroll12',
 'NumTstTakr',
 'AvgScrRead',
 'AvgScrEng',
 'AvgScrMath',
 'AvgScrSci',
 'NumGE21',
 'PctGE21',
 'Year',
 'Unnamed: 17']

In [471]:
act2019ca_df.drop(['CDS', 'CCode', 'SCode', 'RType', 'CDCode','Unnamed: 17',"Enroll12",'NumTstTakr', 'NumGE21','PctGE21','Year'], inplace=True, axis=1)
act2019ca_df.rename(columns={"SName": "School", "DName":"District","CName":"County","AvgScrRead": "Read", "AvgScrEng": "Eng", "AvgScrMath" : "Math", "AvgScrSci":"Science"}, inplace = True)
act2019ca_df.dropna(inplace=True)
act2019ca_df[0:10]

,School,District,County,Read,Eng,Math,Science
3,Abraham Lincoln High,San Jose Unified,Santa Clara,23,22,22,23
4,Abraham Lincoln Senior High,Los Angeles Unified,Los Angeles,21,20,23,22
5,Academia Avance Charter,SBE - Academia Avance Charter,Los Angeles,15,15,17,16
6,Academies of Education and Empowerment at Cars...,Los Angeles Unified,Los Angeles,18,18,18,17
7,Academies of the Antelope Valley,Antelope Valley Union High,Los Angeles,*,*,*,*
8,Academy (The)- SF @McAteer,San Francisco Unified,San Francisco,*,*,*,*
9,Academy for Academic Excellence,Apple Valley Unified,San Bernardino,*,*,*,*
10,Academy for Multilingual Arts and Science at M...,Los Angeles Unified,Los Angeles,*,*,*,*
11,Academy of Careers and Exploration,Helendale Elementary,San Bernardino,*,*,*,*
12,Academy of Medical Arts at Carson High,Los Angeles Unified,Los Angeles,*,*,*,*

In [472]:
act2019ca_df.replace('*', np.NaN, inplace=True)
act2019ca_df[0:10]

,School,District,County,Read,Eng,Math,Science
3,Abraham Lincoln High,San Jose Unified,Santa Clara,23,22,22,23
4,Abraham Lincoln Senior High,Los Angeles Unified,Los Angeles,21,20,23,22
5,Academia Avance Charter,SBE - Academia Avance Charter,Los Angeles,15,15,17,16
6,Academies of Education and Empowerment at Cars...,Los Angeles Unified,Los Angeles,18,18,18,17
7,Academies of the Antelope Valley,Antelope Valley Union High,Los Angeles,NaN,NaN,NaN,NaN
8,Academy (The)- SF @McAteer,San Francisco Unified,San Francisco,NaN,NaN,NaN,NaN
9,Academy for Academic Excellence,Apple Valley Unified,San Bernardino,NaN,NaN,NaN,NaN
10,Academy for Multilingual Arts and Science at M...,Los Angeles Unified,Los Angeles,NaN,NaN,NaN,NaN
11,Academy of Careers and Exploration,Helendale Elementary,San Bernardino,NaN,NaN,NaN,NaN
12,Academy of Medical Arts at Carson High,Los Angeles Unified,Los Angeles,NaN,NaN,NaN,NaN

In [473]:
act2019ca_df.dropna(inplace=True)
act2019ca_df.set_index(['County','District'],inplace=True) # county is larger
act2019ca_df[0:10]

                                                                                         School  \
County         District
Santa Clara    San Jose Unified                                            Abraham Lincoln High
Los Angeles    Los Angeles Unified                                  Abraham Lincoln Senior High
               SBE - Academia Avance Charter                            Academia Avance Charter
               Los Angeles Unified            Academies of Education and Empowerment at Cars...
               William S. Hart Union High                                Academy of the Canyons
Contra Costa   Acalanes Union High                                                Acalanes High
Santa Clara    East Side Union High                                            ACE Charter High
San Bernardino Victor Valley Union High                                           Adelanto High
Ventura        Oxnard Union High                                          Adolfo Camarillo High
Santa Clara    Santa Clara Unified                                           Adrian Wilcox High

                                             Read Eng Math Science
County         District
Santa Clara    San Jose Unified                23  22   22      23
Los Angeles    Los Angeles Unified             21  20   23      22
               SBE - Academia Avance Charter   15  15   17      16
               Los Angeles Unified             18  18   18      17
               William S. Hart Union High      29  29   25      25
Contra Costa   Acalanes Union High             29  29   28      27
Santa Clara    East Side Union High            14  14   15      15
San Bernardino Victor Valley Union High        19  17   18      18
Ventura        Oxnard Union High               23  23   23      22
Santa Clara    Santa Clara Unified             25  24   24      24

In [474]:
act2019ca_df.shape

(1017, 5)

2019 SAT Scores in California by School
[Source](http://wgetsnaps.github.io/cde.ca.gov--ds-sp-ai/ds/sp/ai/index.html)

In [475]:
sat2019ca_df.head()

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTSTTakr12,...,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11,PctMathBenchmark11,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11,Year,Unnamed: 25
0,6.615981e+12,6.0,661598.0,630046.0,S,Colusa Alternative Home,Colusa Unified,Colusa,18.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,6.616061e+12,6.0,661606.0,634758.0,S,Maxwell Sr High,Maxwell Unified,Colusa,29.0,10.0,...,*,*,*,*,*,*,*,*,2018-19,NaN
2,1.964733e+13,19.0,1964733.0,1930924.0,S,Belmont Senior High,Los Angeles Unified,Los Angeles,206.0,102.0,...,42,24.14,12,6.90,14,13.73,11,6.32,2018-19,NaN
3,1.964733e+13,19.0,1964733.0,1931476.0,S,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227.0,113.0,...,97,35.27,37,13.45,18,15.93,35,12.73,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1931856.0,S,Whitman Continuation,Los Angeles Unified,Los Angeles,18.0,14.0,...,*,*,*,*,*,*,*,*,2018-19,NaN

In [476]:
sat2019ca_df.drop(['CDS', 'CCode', 'CDCode','SCode','RType','Enroll12','Year','Unnamed: 25','Enroll11' ], inplace=True, axis=1)
sat2019ca_df.replace('*', np.NaN, inplace=True)
sat2019ca_df.dropna(inplace=True)
sat2019ca_df.head()

,SName,DName,CName,NumTSTTakr12,NumERWBenchmark12,PctERWBenchmark12,NumMathBenchmark12,PctMathBenchmark12,NumTSTTakr11,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11,PctMathBenchmark11,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11
2,Belmont Senior High,Los Angeles Unified,Los Angeles,102.0,31,30.39,14,13.73,174.0,42,24.14,12,6.90,14,13.73,11,6.32
3,Canoga Park Senior High,Los Angeles Unified,Los Angeles,113.0,54,47.79,18,15.93,275.0,97,35.27,37,13.45,18,15.93,35,12.73
5,Foshay Learning Center,Los Angeles Unified,Los Angeles,106.0,68,64.15,36,33.96,183.0,91,49.73,47,25.68,36,33.96,44,24.04
6,Mission Viejo High,Saddleback Valley Unified,Orange,190.0,161,84.74,138,72.63,223.0,206,92.38,176,78.92,132,69.47,172,77.13
9,New Open World Academy K-12,Los Angeles Unified,Los Angeles,68.0,17,25.00,6,8.82,79.0,22,27.85,10,12.66,6,8.82,6,7.59

In [477]:
sat2019ca_df.rename(columns ={'SName':'School','DName':'District', 'CName':'County', 'NumTSTTakr12':'Test Takers >12','NumERWBenchmark12':'Num ERW >12', 'PctERWBenchmark12':'% ERW >12','NumMathBenchmark12':'Num Math >12','PctMathBenchmark12':'% Math >12','NumTSTTakr11':'Test Takers >11','NumERWBenchmark11':'Num ERW >11', 'PctERWBenchmark11':'% ERW >11', 'NumMathBenchmark11':'Num Math >11','PctMathBenchmark11':'% Math >11','TotNumBothBenchmark12':'Total Number Both >12','PctBothBenchmark12':'% Both >12','TotNumBothBenchmark11':'Total Number Both >11', 'PctBothBenchmark11':'% Both >11'}, inplace=True)
sat2019ca_df.head()

,School,District,County,Test Takers >12,Num ERW >12,% ERW >12,Num Math >12,% Math >12,Test Takers >11,Num ERW >11,% ERW >11,Num Math >11,% Math >11,Total Number Both >12,% Both >12,Total Number Both >11,% Both >11
2,Belmont Senior High,Los Angeles Unified,Los Angeles,102.0,31,30.39,14,13.73,174.0,42,24.14,12,6.90,14,13.73,11,6.32
3,Canoga Park Senior High,Los Angeles Unified,Los Angeles,113.0,54,47.79,18,15.93,275.0,97,35.27,37,13.45,18,15.93,35,12.73
5,Foshay Learning Center,Los Angeles Unified,Los Angeles,106.0,68,64.15,36,33.96,183.0,91,49.73,47,25.68,36,33.96,44,24.04
6,Mission Viejo High,Saddleback Valley Unified,Orange,190.0,161,84.74,138,72.63,223.0,206,92.38,176,78.92,132,69.47,172,77.13
9,New Open World Academy K-12,Los Angeles Unified,Los Angeles,68.0,17,25.00,6,8.82,79.0,22,27.85,10,12.66,6,8.82,6,7.59

In [478]:
sat2019ca_df.set_index(['County','District'],inplace=True)
sat2019ca_df.head()

                                                            School  \
County      District
Los Angeles Los Angeles Unified                Belmont Senior High
            Los Angeles Unified            Canoga Park Senior High
            Los Angeles Unified             Foshay Learning Center
Orange      Saddleback Valley Unified           Mission Viejo High
Los Angeles Los Angeles Unified        New Open World Academy K-12

                                       Test Takers >12 Num ERW >12 % ERW >12  \
County      District
Los Angeles Los Angeles Unified                  102.0          31     30.39
            Los Angeles Unified                  113.0          54     47.79
            Los Angeles Unified                  106.0          68     64.15
Orange      Saddleback Valley Unified            190.0         161     84.74
Los Angeles Los Angeles Unified                   68.0          17     25.00

                                      Num Math >12 % Math >12  \
County      District
Los Angeles Los Angeles Unified                 14      13.73
            Los Angeles Unified                 18      15.93
            Los Angeles Unified                 36      33.96
Orange      Saddleback Valley Unified          138      72.63
Los Angeles Los Angeles Unified                  6       8.82

                                       Test Takers >11 Num ERW >11 % ERW >11  \
County      District
Los Angeles Los Angeles Unified                  174.0          42     24.14
            Los Angeles Unified                  275.0          97     35.27
            Los Angeles Unified                  183.0          91     49.73
Orange      Saddleback Valley Unified            223.0         206     92.38
Los Angeles Los Angeles Unified                   79.0          22     27.85

                                      Num Math >11 % Math >11  \
County      District
Los Angeles Los Angeles Unified                 12       6.90
            Los Angeles Unified                 37      13.45
            Los Angeles Unified                 47      25.68
Orange      Saddleback Valley Unified          176      78.92
Los Angeles Los Angeles Unified                 10      12.66

                                      Total Number Both >12 % Both >12  \
County      District
Los Angeles Los Angeles Unified                          14      13.73
            Los Angeles Unified                          18      15.93
            Los Angeles Unified                          36      33.96
Orange      Saddleback Valley Unified                   132      69.47
Los Angeles Los Angeles Unified                           6       8.82

                                      Total Number Both >11 % Both >11
County      District
Los Angeles Los Angeles Unified                          11       6.32
            Los Angeles Unified                          35      12.73
            Los Angeles Unified                          44      24.04
Orange      Saddleback Valley Unified                   172      77.13
Los Angeles Los Angeles Unified                           6       7.59

In [479]:
sat2019ca_df.shape

(1199, 15)

In [480]:
california_merged_df = pd.merge(act2019ca_df, sat2019ca_df, on=['County','District','School'], how='outer' )
california_merged_df.head()

                                                                                      School  \
County      District
Santa Clara San Jose Unified                                            Abraham Lincoln High
Los Angeles Los Angeles Unified                                  Abraham Lincoln Senior High
            SBE - Academia Avance Charter                            Academia Avance Charter
            Los Angeles Unified            Academies of Education and Empowerment at Cars...
            William S. Hart Union High                                Academy of the Canyons

                                          Read Eng Math Science  \
County      District
Santa Clara San Jose Unified                23  22   22      23
Los Angeles Los Angeles Unified             21  20   23      22
            SBE - Academia Avance Charter   15  15   17      16
            Los Angeles Unified             18  18   18      17
            William S. Hart Union High      29  29   25      25

                                           Test Takers >12 Num ERW >12  \
County      District
Santa Clara San Jose Unified                         160.0         128
Los Angeles Los Angeles Unified                      127.0          65
            SBE - Academia Avance Charter             42.0          15
            Los Angeles Unified                       48.0          23
            William S. Hart Union High                51.0          48

                                          % ERW >12 Num Math >12 % Math >12  \
County      District
Santa Clara San Jose Unified                  80.00           83      51.88
Los Angeles Los Angeles Unified               51.18           43      33.86
            SBE - Academia Avance Charter     35.71            6      14.29
            Los Angeles Unified               47.92           12      25.00
            William S. Hart Union High        94.12           43      84.31

                                           Test Takers >11 Num ERW >11  \
County      District
Santa Clara San Jose Unified                         423.0         270
Los Angeles Los Angeles Unified                      177.0          87
            SBE - Academia Avance Charter             40.0          19
            Los Angeles Unified                      136.0          65
            William S. Hart Union High                88.0          88

                                          % ERW >11 Num Math >11 % Math >11  \
County      District
Santa Clara San Jose Unified                  63.83          182      43.03
Los Angeles Los Angeles Unified               49.15           61      34.46
            SBE - Academia Avance Charter     47.50            9      22.50
            Los Angeles Unified               47.79           15      11.03
            William S. Hart Union High       100.00           81      92.05

                                          Total Number Both >12 % Both >12  \
County      District
Santa Clara San Jose Unified                                 80      50.00
Los Angeles Los Angeles Unified                              39      30.71
            SBE - Academia Avance Charter                     5      11.90
            Los Angeles Unified                              11      22.92
            William S. Hart Union High                       43      84.31

                                          Total Number Both >11 % Both >11
County      District
Santa Clara San Jose Unified                                173      40.90
Los Angeles Los Angeles Unified                              51      28.81
            SBE - Academia Avance Charter                     6      15.00
            Los Angeles Unified                              15      11.03
            William S. Hart Union High                       81      92.05

In [481]:
california_merged_df.shape

(1239, 19)

### College Data Cleaning

2019 SAT Scores by Intended College Major

In [482]:
sat2019_intended_df.rename(columns={'IntendedCollegeMajor':'Intended College Major', 'TestTakers':'Test Takers','ReadingWriting':'Reading Writing'}, inplace=True)
sat2019_intended_df.head()

,Intended College Major,Test Takers,Percent,Total,Reading Writing,Math
0,"Agriculture, AgricultureOperations, and Relate...","24,913",1%,977,496,481
1,Architecture and Related Services,"28,988",2%,1047,520,527
2,"Area, Ethnic, Cultural, and Gender Studies","2,629",0%,1040,536,504
3,Biological and Biomedical Sciences,"155,834",8%,1139,572,566
4,"Business, Management, Marketing, and Related S...","221,523",12%,1072,534,537

Ranges of Accepted ACT & SAT Student Scores by Colleges

In [483]:
sat_act_bycollege_df.drop(['Test Optional?','Applies to Class Year(s)'], inplace=True, axis=1)
sat_act_bycollege_df.set_index('School', inplace=True)
sat_act_bycollege_df.head()

,Policy Details,Number of Applicants,Accept Rate,SAT Total 25th-75th Percentile,ACT Total 25th-75th Percentile
School,,,,,
Stanford University,Stanford has adopted a one-year test optional ...,47452,4.3%,1440-1570,32-35
Harvard College,Harvard has adopted a one-year test optional p...,42749,4.7%,1460-1580,33-35
Princeton University,Princeton has adopted a one-year test optional...,35370,5.5%,1440-1570,32-35
Columbia University,Columbia has adopted a one-year test optional ...,40203,5.5%,1450-1560,33-35
Yale University,Yale has adopted a one-year test optional poli...,36844,6.1%,1460-1570,33-35

### All Merged Dataframes

Merged ACT Scores By State

In [484]:
mergedACT_df.set_index('State', inplace=True)
mergedACT_df.head()

,2017 Participation,2017 Composite,2018 Participation,2018 Composite,2019 Participation,2019 Composite
State,,,,,,
National,60%,21.0,NaN,NaN,52%,20.7
Alabama,100%,19.2,100%,19.1,100%,18.9
Alaska,65%,19.8,33%,20.8,38%,20.1
Arizona,62%,19.7,66%,19.2,73%,19.0
Arkansas,100%,19.4,100%,19.4,100%,19.3

Merged SAT Scores By State

In [485]:
mergedSAT_df.set_index('State', inplace=True)
mergedSAT_df.head()

,2017 Participation,2017 EBRW,2017 Math,2017 Total,2018 Participation,2018 EBRW,2018 Math,2018 Total,2019 Participation,2019 EBRW,2019 Math,2019 Total
State,,,,,,,,,,,,
Alabama,5%,593.0,572.0,1165.0,6%,595.0,571.0,1166.0,7%,583,560,1143
Alaska,38%,547.0,533.0,1080.0,43%,562.0,544.0,1106.0,41%,556,541,1097
Arizona,30%,563.0,553.0,1116.0,29%,577.0,572.0,1149.0,31%,569,565,1134
Arkansas,3%,614.0,594.0,1208.0,5%,592.0,576.0,1169.0,6%,582,559,1141
California,53%,531.0,524.0,1055.0,60%,540.0,536.0,1076.0,63%,534,531,1065

Merged California Data

In [486]:
california_merged_df.head()

                                                                                      School  \
County      District
Santa Clara San Jose Unified                                            Abraham Lincoln High
Los Angeles Los Angeles Unified                                  Abraham Lincoln Senior High
            SBE - Academia Avance Charter                            Academia Avance Charter
            Los Angeles Unified            Academies of Education and Empowerment at Cars...
            William S. Hart Union High                                Academy of the Canyons

                                          Read Eng Math Science  \
County      District
Santa Clara San Jose Unified                23  22   22      23
Los Angeles Los Angeles Unified             21  20   23      22
            SBE - Academia Avance Charter   15  15   17      16
            Los Angeles Unified             18  18   18      17
            William S. Hart Union High      29  29   25      25

                                           Test Takers >12 Num ERW >12  \
County      District
Santa Clara San Jose Unified                         160.0         128
Los Angeles Los Angeles Unified                      127.0          65
            SBE - Academia Avance Charter             42.0          15
            Los Angeles Unified                       48.0          23
            William S. Hart Union High                51.0          48

                                          % ERW >12 Num Math >12 % Math >12  \
County      District
Santa Clara San Jose Unified                  80.00           83      51.88
Los Angeles Los Angeles Unified               51.18           43      33.86
            SBE - Academia Avance Charter     35.71            6      14.29
            Los Angeles Unified               47.92           12      25.00
            William S. Hart Union High        94.12           43      84.31

                                           Test Takers >11 Num ERW >11  \
County      District
Santa Clara San Jose Unified                         423.0         270
Los Angeles Los Angeles Unified                      177.0          87
            SBE - Academia Avance Charter             40.0          19
            Los Angeles Unified                      136.0          65
            William S. Hart Union High                88.0          88

                                          % ERW >11 Num Math >11 % Math >11  \
County      District
Santa Clara San Jose Unified                  63.83          182      43.03
Los Angeles Los Angeles Unified               49.15           61      34.46
            SBE - Academia Avance Charter     47.50            9      22.50
            Los Angeles Unified               47.79           15      11.03
            William S. Hart Union High       100.00           81      92.05

                                          Total Number Both >12 % Both >12  \
County      District
Santa Clara San Jose Unified                                 80      50.00
Los Angeles Los Angeles Unified                              39      30.71
            SBE - Academia Avance Charter                     5      11.90
            Los Angeles Unified                              11      22.92
            William S. Hart Union High                       43      84.31

                                          Total Number Both >11 % Both >11
County      District
Santa Clara San Jose Unified                                173      40.90
Los Angeles Los Angeles Unified                              51      28.81
            SBE - Academia Avance Charter                     6      15.00
            Los Angeles Unified                              15      11.03
            William S. Hart Union High                       81      92.05

2019 SAT Scores by Intended College Major

In [487]:
sat2019_intended_df.set_index('Intended College Major', inplace=True)
sat2019_intended_df.head()

,Test Takers,Percent,Total,Reading Writing,Math
Intended College Major,,,,,
"Agriculture, AgricultureOperations, and Related Sciences","24,913",1%,977,496,481
Architecture and Related Services,"28,988",2%,1047,520,527
"Area, Ethnic, Cultural, and Gender Studies","2,629",0%,1040,536,504
Biological and Biomedical Sciences,"155,834",8%,1139,572,566
"Business, Management, Marketing, and Related Support Services","221,523",12%,1072,534,537

Ranges of Accepted ACT & SAT Student Scores by Colleges

In [488]:
sat_act_bycollege_df.head()

,Policy Details,Number of Applicants,Accept Rate,SAT Total 25th-75th Percentile,ACT Total 25th-75th Percentile
School,,,,,
Stanford University,Stanford has adopted a one-year test optional ...,47452,4.3%,1440-1570,32-35
Harvard College,Harvard has adopted a one-year test optional p...,42749,4.7%,1460-1580,33-35
Princeton University,Princeton has adopted a one-year test optional...,35370,5.5%,1440-1570,32-35
Columbia University,Columbia has adopted a one-year test optional ...,40203,5.5%,1450-1560,33-35
Yale University,Yale has adopted a one-year test optional poli...,36844,6.1%,1460-1570,33-35

### GDP By States Data Cleaning

Source: https://coast.noaa.gov/digitalcoast/data/gdp.html

In [489]:
gdp_by_states2019_df

,GeoFips,GeoName,LineCode,Description,2019:Q1,2019:Q2,2019:Q3,2019:Q4
0,00000,United States,1.0,Real GDP (millions of chained 2012 dollars),1.883320e+07,1.898253e+07,1.911265e+07,1.920231e+07
1,00000,United States,2.0,Chain-type quantity indexes for real GDP,1.158680e+02,1.167870e+02,1.175880e+02,1.181390e+02
2,00000,United States,3.0,Current-dollar GDP (millions of current dollars),2.100159e+07,2.128927e+07,2.150501e+07,2.169446e+07
3,01000,Alabama,1.0,Real GDP (millions of chained 2012 dollars),2.022311e+05,2.031170e+05,2.038334e+05,2.043541e+05
4,01000,Alabama,2.0,Chain-type quantity indexes for real GDP,1.068620e+02,1.073300e+02,1.077080e+02,1.079840e+02
...,...,...,...,...,...,...,...,...
178,98000,Far West,2.0,Chain-type quantity indexes for real GDP,1.264970e+02,1.280620e+02,1.289440e+02,1.300780e+02
179,98000,Far West,3.0,Current-dollar GDP (millions of current dollars),4.134300e+06,4.208788e+06,4.252480e+06,4.305383e+06
180,Legend / Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,Real GDP is in millions of chained 2012 dollar...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,"Last updated: June 30, 2022-- new statistics f...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [490]:
gdp_by_states2019_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GeoFips      183 non-null    object
 1   GeoName      180 non-null    object
 2   LineCode     180 non-null    float64
 3   Description  180 non-null    object
 4   2019:Q1      180 non-null    float64
 5   2019:Q2      180 non-null    float64
 6   2019:Q3      180 non-null    float64
 7   2019:Q4      180 non-null    float64
dtypes: float64(5), object(3)
memory usage: 11.6+ KB

In [491]:
gdp_by_states2019_df.shape

(183, 8)

In [492]:
gdp_by_states2019_df.drop(columns=['GeoFips','LineCode'], inplace= True)

In [493]:
gdp_by_states2019_df = gdp_by_states2019_df[gdp_by_states2019_df['GeoName'].notna()]
gdp_by_states2019_df

,GeoName,Description,2019:Q1,2019:Q2,2019:Q3,2019:Q4
0,United States,Real GDP (millions of chained 2012 dollars),1.883320e+07,1.898253e+07,1.911265e+07,1.920231e+07
1,United States,Chain-type quantity indexes for real GDP,1.158680e+02,1.167870e+02,1.175880e+02,1.181390e+02
2,United States,Current-dollar GDP (millions of current dollars),2.100159e+07,2.128927e+07,2.150501e+07,2.169446e+07
3,Alabama,Real GDP (millions of chained 2012 dollars),2.022311e+05,2.031170e+05,2.038334e+05,2.043541e+05
4,Alabama,Chain-type quantity indexes for real GDP,1.068620e+02,1.073300e+02,1.077080e+02,1.079840e+02
...,...,...,...,...,...,...
175,Rocky Mountain,Chain-type quantity indexes for real GDP,1.242930e+02,1.251800e+02,1.271270e+02,1.276900e+02
176,Rocky Mountain,Current-dollar GDP (millions of current dollars),7.451944e+05,7.548933e+05,7.685211e+05,7.758580e+05
177,Far West,Real GDP (millions of chained 2012 dollars),3.728815e+06,3.774947e+06,3.800938e+06,3.834357e+06
178,Far West,Chain-type quantity indexes for real GDP,1.264970e+02,1.280620e+02,1.289440e+02,1.300780e+02
179,Far West,Current-dollar GDP (millions of current dollars),4.134300e+06,4.208788e+06,4.252480e+06,4.305383e+06

In [494]:
gdp_by_states2019_df = gdp_by_states2019_df[gdp_by_states2019_df['Description']=='Real GDP (millions of chained 2012 dollars)']
gdp_by_states2019_df

,GeoName,Description,2019:Q1,2019:Q2,2019:Q3,2019:Q4
0,United States,Real GDP (millions of chained 2012 dollars),18833195.0,18982528.0,19112653.0,19202310.0
3,Alabama,Real GDP (millions of chained 2012 dollars),202231.1,203117.0,203833.4,204354.1
6,Alaska,Real GDP (millions of chained 2012 dollars),52889.5,52930.1,53788.5,53737.8
9,Arizona,Real GDP (millions of chained 2012 dollars),319443.4,322027.1,325925.6,328181.3
12,Arkansas,Real GDP (millions of chained 2012 dollars),116073.3,116244.8,117019.8,117825.9
15,California,Real GDP (millions of chained 2012 dollars),2693526.5,2736221.0,2751471.1,2776155.1
18,Colorado,Real GDP (millions of chained 2012 dollars),349998.6,355100.2,360880.3,361115.4
21,Connecticut,Real GDP (millions of chained 2012 dollars),251236.3,251914.6,251629.5,251200.1
24,Delaware,Real GDP (millions of chained 2012 dollars),63493.3,64175.1,64514.2,64867.1
27,District of Columbia,Real GDP (millions of chained 2012 dollars),123440.2,124462.0,125500.3,126558.7
30,Florida,Real GDP (millions of chained 2012 dollars),963421.6,968393.0,974665.6,979996.4
33,Georgia,Real GDP (millions of chained 2012 dollars),550132.9,558753.0,561748.8,562474.3
36,Hawaii,Real GDP (millions of chained 2012 dollars),78642.6,78886.7,79669.4,79502.9
39,Idaho,Real GDP (millions of chained 2012 dollars),72936.5,73613.8,74249.3,74848.2
42,Illinois,Real GDP (millions of chained 2012 dollars),776071.6,776598.2,779812.1,778133.5
45,Indiana,Real GDP (millions of chained 2012 dollars),335558.8,338006.0,339115.8,340719.7
48,Iowa,Real GDP (millions of chained 2012 dollars),170621.5,171714.2,174175.0,175113.1
51,Kansas,Real GDP (millions of chained 2012 dollars),157922.3,159752.1,160804.2,162250.7
54,Kentucky,Real GDP (millions of chained 2012 dollars),189494.7,191048.3,191851.0,193028.1
57,Louisiana,Real GDP (millions of chained 2012 dollars),235482.2,234889.4,236358.7,237060.0
60,Maine,Real GDP (millions of chained 2012 dollars),58897.3,59045.0,59607.8,60185.6
63,Maryland,Real GDP (millions of chained 2012 dollars),367089.8,370310.2,370596.9,370498.9
66,Massachusetts,Real GDP (millions of chained 2012 dollars),512866.5,516821.0,520751.7,520469.2
69,Michigan,Real GDP (millions of chained 2012 dollars),464811.6,467702.4,468594.8,468092.1
72,Minnesota,Real GDP (millions of chained 2012 dollars),337632.0,339536.9,341321.2,342031.5
75,Mississippi,Real GDP (millions of chained 2012 dollars),100563.7,100889.1,101700.6,102947.2
78,Missouri,Real GDP (millions of chained 2012 dollars),288815.9,289729.5,291733.9,293088.8
81,Montana,Real GDP (millions of chained 2012 dollars),46575.4,46447.9,46876.2,47252.6
84,Nebraska,Real GDP (millions of chained 2012 dollars),116680.8,117262.3,118642.8,120560.2
87,Nevada,Real GDP (millions of chained 2012 dollars),155161.1,155936.7,157694.6,158523.0
90,New Hampshire,Real GDP (millions of chained 2012 dollars),77068.0,77094.1,77155.7,77188.2
93,New Jersey,Real GDP (millions of chained 2012 dollars),556095.8,561003.0,565016.2,565256.2
96,New Mexico,Real GDP (millions of chained 2012 dollars),92593.1,93973.2,96030.4,96892.3
99,New York,Real GDP (millions of chained 2012 dollars),1480721.8,1499956.5,1496841.7,1501425.8
102,North Carolina,Real GDP (millions of chained 2012 dollars),509780.8,513926.1,516251.9,518540.8
105,North Dakota,Real GDP (millions of chained 2012 dollars),55511.2,56034.9,56513.8,56928.0
108,Ohio,Real GDP (millions of chained 2012 dollars),605998.5,609716.2,613642.5,615226.0
111,Oklahoma,Real GDP (millions of chained 2012 dollars),199115.2,199136.4,201825.3,202766.7
114,Oregon,Real GDP (millions of chained 2012 dollars),217430.4,218154.8,220008.4,222239.1
117,Pennsylvania,Real GDP (millions of chained 2012 dollars),709316.3,714917.9,719083.5,721375.7
120,Rhode Island,Real GDP (millions of chained 2012 dollars),53058.4,53335.1,53049.9,53456.5
123,South Carolina,Real GDP (millions of chained 2012 dollars),211188.1,210913.8,213010.6,214818.9
126,South Dakota,Real GDP (millions of chained 2012 dollars),46688.0,46423.4,46630.3,46822.3
129,Tennessee,Real GDP (millions of chained 2012 dollars),326274.8,327901.4,330819.9,331450.5
132,Texas,Real GDP (millions of chained 2012 dollars),1756331.9,1768760.8,1800160.9,1816018.0
135,Utah,Real GDP (millions of chained 2012 dollars),169788.2,168920.1,172157.8,173672.7
138,Vermont,Real GDP (millions of chained 2012 dollars),29939.4,29658.0,29984.4,30029.6
141,Virginia,Real GDP (millions of chained 2012 dollars),483144.2,484281.6,490312.2,491268.5
144,Washington,Real GDP (millions of chained 2012 dollars),530475.0,532171.8,537671.0,543604.2
147,West Virginia,Real GDP (millions of chained 2012 dollars),72379.7,72620.6,72857.2,72314.3
150,Wisconsin,Real GDP (millions of chained 2012 dollars),301770.3,303876.5,304106.6,305811.3
153,Wyoming,Real GDP (millions of chained 2012 dollars),38191.8,38302.7,38832.8,39186.5
156,New England,Real GDP (millions of chained 2012 dollars),983042.4,987849.4,992160.7,992516.1
159,Mideast,Real GDP (millions of chained 2012 dollars),3301128.2,3336002.4,3342428.9,3350898.6
162,Great Lakes,Real GDP (millions of chained 2012 dollars),2484171.9,2495852.1,2505261.6,2507962.9
165,Plains,Real GDP (millions of chained 2012 dollars),1174058.6,1180596.6,1189963.4,1196901.2
168,Southeast,Real GDP (millions of chained 2012 dollars),3962367.3,3985307.5,4012771.2,4028427.3
171,Southwest,Real GDP (millions of chained 2012 dollars),2368775.9,2385283.3,2425201.6,2445035.3
174,Rocky Mountain,Real GDP (millions of chained 2012 dollars),678463.2,683304.7,693928.8,697000.7
177,Far West,Real GDP (millions of chained 2012 dollars),3728814.6,3774947.3,3800938.5,3834356.6

In [495]:
gdp_by_states2019_df = gdp_by_states2019_df.rename(columns ={'GeoName':'State', '2019:Q1':'2019:Q1 (Millions USD', '2019:Q3':'2019:Q3 (Millions USD', '2019:Q2':'2019:Q2 (Millions USD', '2019:Q4':'2019:Q4 (Millions USD'})
gdp_by_states2019_df

,State,Description,2019:Q1 (Millions USD,2019:Q2 (Millions USD,2019:Q3 (Millions USD,2019:Q4 (Millions USD
0,United States,Real GDP (millions of chained 2012 dollars),18833195.0,18982528.0,19112653.0,19202310.0
3,Alabama,Real GDP (millions of chained 2012 dollars),202231.1,203117.0,203833.4,204354.1
6,Alaska,Real GDP (millions of chained 2012 dollars),52889.5,52930.1,53788.5,53737.8
9,Arizona,Real GDP (millions of chained 2012 dollars),319443.4,322027.1,325925.6,328181.3
12,Arkansas,Real GDP (millions of chained 2012 dollars),116073.3,116244.8,117019.8,117825.9
15,California,Real GDP (millions of chained 2012 dollars),2693526.5,2736221.0,2751471.1,2776155.1
18,Colorado,Real GDP (millions of chained 2012 dollars),349998.6,355100.2,360880.3,361115.4
21,Connecticut,Real GDP (millions of chained 2012 dollars),251236.3,251914.6,251629.5,251200.1
24,Delaware,Real GDP (millions of chained 2012 dollars),63493.3,64175.1,64514.2,64867.1
27,District of Columbia,Real GDP (millions of chained 2012 dollars),123440.2,124462.0,125500.3,126558.7
30,Florida,Real GDP (millions of chained 2012 dollars),963421.6,968393.0,974665.6,979996.4
33,Georgia,Real GDP (millions of chained 2012 dollars),550132.9,558753.0,561748.8,562474.3
36,Hawaii,Real GDP (millions of chained 2012 dollars),78642.6,78886.7,79669.4,79502.9
39,Idaho,Real GDP (millions of chained 2012 dollars),72936.5,73613.8,74249.3,74848.2
42,Illinois,Real GDP (millions of chained 2012 dollars),776071.6,776598.2,779812.1,778133.5
45,Indiana,Real GDP (millions of chained 2012 dollars),335558.8,338006.0,339115.8,340719.7
48,Iowa,Real GDP (millions of chained 2012 dollars),170621.5,171714.2,174175.0,175113.1
51,Kansas,Real GDP (millions of chained 2012 dollars),157922.3,159752.1,160804.2,162250.7
54,Kentucky,Real GDP (millions of chained 2012 dollars),189494.7,191048.3,191851.0,193028.1
57,Louisiana,Real GDP (millions of chained 2012 dollars),235482.2,234889.4,236358.7,237060.0
60,Maine,Real GDP (millions of chained 2012 dollars),58897.3,59045.0,59607.8,60185.6
63,Maryland,Real GDP (millions of chained 2012 dollars),367089.8,370310.2,370596.9,370498.9
66,Massachusetts,Real GDP (millions of chained 2012 dollars),512866.5,516821.0,520751.7,520469.2
69,Michigan,Real GDP (millions of chained 2012 dollars),464811.6,467702.4,468594.8,468092.1
72,Minnesota,Real GDP (millions of chained 2012 dollars),337632.0,339536.9,341321.2,342031.5
75,Mississippi,Real GDP (millions of chained 2012 dollars),100563.7,100889.1,101700.6,102947.2
78,Missouri,Real GDP (millions of chained 2012 dollars),288815.9,289729.5,291733.9,293088.8
81,Montana,Real GDP (millions of chained 2012 dollars),46575.4,46447.9,46876.2,47252.6
84,Nebraska,Real GDP (millions of chained 2012 dollars),116680.8,117262.3,118642.8,120560.2
87,Nevada,Real GDP (millions of chained 2012 dollars),155161.1,155936.7,157694.6,158523.0
90,New Hampshire,Real GDP (millions of chained 2012 dollars),77068.0,77094.1,77155.7,77188.2
93,New Jersey,Real GDP (millions of chained 2012 dollars),556095.8,561003.0,565016.2,565256.2
96,New Mexico,Real GDP (millions of chained 2012 dollars),92593.1,93973.2,96030.4,96892.3
99,New York,Real GDP (millions of chained 2012 dollars),1480721.8,1499956.5,1496841.7,1501425.8
102,North Carolina,Real GDP (millions of chained 2012 dollars),509780.8,513926.1,516251.9,518540.8
105,North Dakota,Real GDP (millions of chained 2012 dollars),55511.2,56034.9,56513.8,56928.0
108,Ohio,Real GDP (millions of chained 2012 dollars),605998.5,609716.2,613642.5,615226.0
111,Oklahoma,Real GDP (millions of chained 2012 dollars),199115.2,199136.4,201825.3,202766.7
114,Oregon,Real GDP (millions of chained 2012 dollars),217430.4,218154.8,220008.4,222239.1
117,Pennsylvania,Real GDP (millions of chained 2012 dollars),709316.3,714917.9,719083.5,721375.7
120,Rhode Island,Real GDP (millions of chained 2012 dollars),53058.4,53335.1,53049.9,53456.5
123,South Carolina,Real GDP (millions of chained 2012 dollars),211188.1,210913.8,213010.6,214818.9
126,South Dakota,Real GDP (millions of chained 2012 dollars),46688.0,46423.4,46630.3,46822.3
129,Tennessee,Real GDP (millions of chained 2012 dollars),326274.8,327901.4,330819.9,331450.5
132,Texas,Real GDP (millions of chained 2012 dollars),1756331.9,1768760.8,1800160.9,1816018.0
135,Utah,Real GDP (millions of chained 2012 dollars),169788.2,168920.1,172157.8,173672.7
138,Vermont,Real GDP (millions of chained 2012 dollars),29939.4,29658.0,29984.4,30029.6
141,Virginia,Real GDP (millions of chained 2012 dollars),483144.2,484281.6,490312.2,491268.5
144,Washington,Real GDP (millions of chained 2012 dollars),530475.0,532171.8,537671.0,543604.2
147,West Virginia,Real GDP (millions of chained 2012 dollars),72379.7,72620.6,72857.2,72314.3
150,Wisconsin,Real GDP (millions of chained 2012 dollars),301770.3,303876.5,304106.6,305811.3
153,Wyoming,Real GDP (millions of chained 2012 dollars),38191.8,38302.7,38832.8,39186.5
156,New England,Real GDP (millions of chained 2012 dollars),983042.4,987849.4,992160.7,992516.1
159,Mideast,Real GDP (millions of chained 2012 dollars),3301128.2,3336002.4,3342428.9,3350898.6
162,Great Lakes,Real GDP (millions of chained 2012 dollars),2484171.9,2495852.1,2505261.6,2507962.9
165,Plains,Real GDP (millions of chained 2012 dollars),1174058.6,1180596.6,1189963.4,1196901.2
168,Southeast,Real GDP (millions of chained 2012 dollars),3962367.3,3985307.5,4012771.2,4028427.3
171,Southwest,Real GDP (millions of chained 2012 dollars),2368775.9,2385283.3,2425201.6,2445035.3
174,Rocky Mountain,Real GDP (millions of chained 2012 dollars),678463.2,683304.7,693928.8,697000.7
177,Far West,Real GDP (millions of chained 2012 dollars),3728814.6,3774947.3,3800938.5,3834356.6

In [496]:
gdp_by_states2019_df.set_index(['State'], inplace= True)
gdp_by_states2019_df

,Description,2019:Q1 (Millions USD,2019:Q2 (Millions USD,2019:Q3 (Millions USD,2019:Q4 (Millions USD
State,,,,,
United States,Real GDP (millions of chained 2012 dollars),18833195.0,18982528.0,19112653.0,19202310.0
Alabama,Real GDP (millions of chained 2012 dollars),202231.1,203117.0,203833.4,204354.1
Alaska,Real GDP (millions of chained 2012 dollars),52889.5,52930.1,53788.5,53737.8
Arizona,Real GDP (millions of chained 2012 dollars),319443.4,322027.1,325925.6,328181.3
Arkansas,Real GDP (millions of chained 2012 dollars),116073.3,116244.8,117019.8,117825.9
California,Real GDP (millions of chained 2012 dollars),2693526.5,2736221.0,2751471.1,2776155.1
Colorado,Real GDP (millions of chained 2012 dollars),349998.6,355100.2,360880.3,361115.4
Connecticut,Real GDP (millions of chained 2012 dollars),251236.3,251914.6,251629.5,251200.1
Delaware,Real GDP (millions of chained 2012 dollars),63493.3,64175.1,64514.2,64867.1
District of Columbia,Real GDP (millions of chained 2012 dollars),123440.2,124462.0,125500.3,126558.7
Florida,Real GDP (millions of chained 2012 dollars),963421.6,968393.0,974665.6,979996.4
Georgia,Real GDP (millions of chained 2012 dollars),550132.9,558753.0,561748.8,562474.3
Hawaii,Real GDP (millions of chained 2012 dollars),78642.6,78886.7,79669.4,79502.9
Idaho,Real GDP (millions of chained 2012 dollars),72936.5,73613.8,74249.3,74848.2
Illinois,Real GDP (millions of chained 2012 dollars),776071.6,776598.2,779812.1,778133.5
Indiana,Real GDP (millions of chained 2012 dollars),335558.8,338006.0,339115.8,340719.7
Iowa,Real GDP (millions of chained 2012 dollars),170621.5,171714.2,174175.0,175113.1
Kansas,Real GDP (millions of chained 2012 dollars),157922.3,159752.1,160804.2,162250.7
Kentucky,Real GDP (millions of chained 2012 dollars),189494.7,191048.3,191851.0,193028.1
Louisiana,Real GDP (millions of chained 2012 dollars),235482.2,234889.4,236358.7,237060.0
Maine,Real GDP (millions of chained 2012 dollars),58897.3,59045.0,59607.8,60185.6
Maryland,Real GDP (millions of chained 2012 dollars),367089.8,370310.2,370596.9,370498.9
Massachusetts,Real GDP (millions of chained 2012 dollars),512866.5,516821.0,520751.7,520469.2
Michigan,Real GDP (millions of chained 2012 dollars),464811.6,467702.4,468594.8,468092.1
Minnesota,Real GDP (millions of chained 2012 dollars),337632.0,339536.9,341321.2,342031.5
Mississippi,Real GDP (millions of chained 2012 dollars),100563.7,100889.1,101700.6,102947.2
Missouri,Real GDP (millions of chained 2012 dollars),288815.9,289729.5,291733.9,293088.8
Montana,Real GDP (millions of chained 2012 dollars),46575.4,46447.9,46876.2,47252.6
Nebraska,Real GDP (millions of chained 2012 dollars),116680.8,117262.3,118642.8,120560.2
Nevada,Real GDP (millions of chained 2012 dollars),155161.1,155936.7,157694.6,158523.0
New Hampshire,Real GDP (millions of chained 2012 dollars),77068.0,77094.1,77155.7,77188.2
New Jersey,Real GDP (millions of chained 2012 dollars),556095.8,561003.0,565016.2,565256.2
New Mexico,Real GDP (millions of chained 2012 dollars),92593.1,93973.2,96030.4,96892.3
New York,Real GDP (millions of chained 2012 dollars),1480721.8,1499956.5,1496841.7,1501425.8
North Carolina,Real GDP (millions of chained 2012 dollars),509780.8,513926.1,516251.9,518540.8
North Dakota,Real GDP (millions of chained 2012 dollars),55511.2,56034.9,56513.8,56928.0
Ohio,Real GDP (millions of chained 2012 dollars),605998.5,609716.2,613642.5,615226.0
Oklahoma,Real GDP (millions of chained 2012 dollars),199115.2,199136.4,201825.3,202766.7
Oregon,Real GDP (millions of chained 2012 dollars),217430.4,218154.8,220008.4,222239.1
Pennsylvania,Real GDP (millions of chained 2012 dollars),709316.3,714917.9,719083.5,721375.7
Rhode Island,Real GDP (millions of chained 2012 dollars),53058.4,53335.1,53049.9,53456.5
South Carolina,Real GDP (millions of chained 2012 dollars),211188.1,210913.8,213010.6,214818.9
South Dakota,Real GDP (millions of chained 2012 dollars),46688.0,46423.4,46630.3,46822.3
Tennessee,Real GDP (millions of chained 2012 dollars),326274.8,327901.4,330819.9,331450.5
Texas,Real GDP (millions of chained 2012 dollars),1756331.9,1768760.8,1800160.9,1816018.0
Utah,Real GDP (millions of chained 2012 dollars),169788.2,168920.1,172157.8,173672.7
Vermont,Real GDP (millions of chained 2012 dollars),29939.4,29658.0,29984.4,30029.6
Virginia,Real GDP (millions of chained 2012 dollars),483144.2,484281.6,490312.2,491268.5
Washington,Real GDP (millions of chained 2012 dollars),530475.0,532171.8,537671.0,543604.2
West Virginia,Real GDP (millions of chained 2012 dollars),72379.7,72620.6,72857.2,72314.3
Wisconsin,Real GDP (millions of chained 2012 dollars),301770.3,303876.5,304106.6,305811.3
Wyoming,Real GDP (millions of chained 2012 dollars),38191.8,38302.7,38832.8,39186.5
New England,Real GDP (millions of chained 2012 dollars),983042.4,987849.4,992160.7,992516.1
Mideast,Real GDP (millions of chained 2012 dollars),3301128.2,3336002.4,3342428.9,3350898.6
Great Lakes,Real GDP (millions of chained 2012 dollars),2484171.9,2495852.1,2505261.6,2507962.9
Plains,Real GDP (millions of chained 2012 dollars),1174058.6,1180596.6,1189963.4,1196901.2
Southeast,Real GDP (millions of chained 2012 dollars),3962367.3,3985307.5,4012771.2,4028427.3
Southwest,Real GDP (millions of chained 2012 dollars),2368775.9,2385283.3,2425201.6,2445035.3
Rocky Mountain,Real GDP (millions of chained 2012 dollars),678463.2,683304.7,693928.8,697000.7
Far West,Real GDP (millions of chained 2012 dollars),3728814.6,3774947.3,3800938.5,3834356.6

In [497]:
gdp_by_states2019_df.shape

(60, 5)

In [498]:
gdp_by_states2019_df.drop(columns=['Description'], inplace= True)
gdp_by_states2019_df

,2019:Q1 (Millions USD,2019:Q2 (Millions USD,2019:Q3 (Millions USD,2019:Q4 (Millions USD
State,,,,
United States,18833195.0,18982528.0,19112653.0,19202310.0
Alabama,202231.1,203117.0,203833.4,204354.1
Alaska,52889.5,52930.1,53788.5,53737.8
Arizona,319443.4,322027.1,325925.6,328181.3
Arkansas,116073.3,116244.8,117019.8,117825.9
California,2693526.5,2736221.0,2751471.1,2776155.1
Colorado,349998.6,355100.2,360880.3,361115.4
Connecticut,251236.3,251914.6,251629.5,251200.1
Delaware,63493.3,64175.1,64514.2,64867.1
District of Columbia,123440.2,124462.0,125500.3,126558.7
Florida,963421.6,968393.0,974665.6,979996.4
Georgia,550132.9,558753.0,561748.8,562474.3
Hawaii,78642.6,78886.7,79669.4,79502.9
Idaho,72936.5,73613.8,74249.3,74848.2
Illinois,776071.6,776598.2,779812.1,778133.5
Indiana,335558.8,338006.0,339115.8,340719.7
Iowa,170621.5,171714.2,174175.0,175113.1
Kansas,157922.3,159752.1,160804.2,162250.7
Kentucky,189494.7,191048.3,191851.0,193028.1
Louisiana,235482.2,234889.4,236358.7,237060.0
Maine,58897.3,59045.0,59607.8,60185.6
Maryland,367089.8,370310.2,370596.9,370498.9
Massachusetts,512866.5,516821.0,520751.7,520469.2
Michigan,464811.6,467702.4,468594.8,468092.1
Minnesota,337632.0,339536.9,341321.2,342031.5
Mississippi,100563.7,100889.1,101700.6,102947.2
Missouri,288815.9,289729.5,291733.9,293088.8
Montana,46575.4,46447.9,46876.2,47252.6
Nebraska,116680.8,117262.3,118642.8,120560.2
Nevada,155161.1,155936.7,157694.6,158523.0
New Hampshire,77068.0,77094.1,77155.7,77188.2
New Jersey,556095.8,561003.0,565016.2,565256.2
New Mexico,92593.1,93973.2,96030.4,96892.3
New York,1480721.8,1499956.5,1496841.7,1501425.8
North Carolina,509780.8,513926.1,516251.9,518540.8
North Dakota,55511.2,56034.9,56513.8,56928.0
Ohio,605998.5,609716.2,613642.5,615226.0
Oklahoma,199115.2,199136.4,201825.3,202766.7
Oregon,217430.4,218154.8,220008.4,222239.1
Pennsylvania,709316.3,714917.9,719083.5,721375.7
Rhode Island,53058.4,53335.1,53049.9,53456.5
South Carolina,211188.1,210913.8,213010.6,214818.9
South Dakota,46688.0,46423.4,46630.3,46822.3
Tennessee,326274.8,327901.4,330819.9,331450.5
Texas,1756331.9,1768760.8,1800160.9,1816018.0
Utah,169788.2,168920.1,172157.8,173672.7
Vermont,29939.4,29658.0,29984.4,30029.6
Virginia,483144.2,484281.6,490312.2,491268.5
Washington,530475.0,532171.8,537671.0,543604.2
West Virginia,72379.7,72620.6,72857.2,72314.3
Wisconsin,301770.3,303876.5,304106.6,305811.3
Wyoming,38191.8,38302.7,38832.8,39186.5
New England,983042.4,987849.4,992160.7,992516.1
Mideast,3301128.2,3336002.4,3342428.9,3350898.6
Great Lakes,2484171.9,2495852.1,2505261.6,2507962.9
Plains,1174058.6,1180596.6,1189963.4,1196901.2
Southeast,3962367.3,3985307.5,4012771.2,4028427.3
Southwest,2368775.9,2385283.3,2425201.6,2445035.3
Rocky Mountain,678463.2,683304.7,693928.8,697000.7
Far West,3728814.6,3774947.3,3800938.5,3834356.6

### Merged Dataframes 2 (Dataframes Required for Project Problem Statement)

In [499]:
gdp_by_states2019_df.head()

,2019:Q1 (Millions USD,2019:Q2 (Millions USD,2019:Q3 (Millions USD,2019:Q4 (Millions USD
State,,,,
United States,18833195.0,18982528.0,19112653.0,19202310.0
Alabama,202231.1,203117.0,203833.4,204354.1
Alaska,52889.5,52930.1,53788.5,53737.8
Arizona,319443.4,322027.1,325925.6,328181.3
Arkansas,116073.3,116244.8,117019.8,117825.9

In [500]:
mergedSAT_df.head()

,2017 Participation,2017 EBRW,2017 Math,2017 Total,2018 Participation,2018 EBRW,2018 Math,2018 Total,2019 Participation,2019 EBRW,2019 Math,2019 Total
State,,,,,,,,,,,,
Alabama,5%,593.0,572.0,1165.0,6%,595.0,571.0,1166.0,7%,583,560,1143
Alaska,38%,547.0,533.0,1080.0,43%,562.0,544.0,1106.0,41%,556,541,1097
Arizona,30%,563.0,553.0,1116.0,29%,577.0,572.0,1149.0,31%,569,565,1134
Arkansas,3%,614.0,594.0,1208.0,5%,592.0,576.0,1169.0,6%,582,559,1141
California,53%,531.0,524.0,1055.0,60%,540.0,536.0,1076.0,63%,534,531,1065

In [501]:
mergedACT_df.head()

,2017 Participation,2017 Composite,2018 Participation,2018 Composite,2019 Participation,2019 Composite
State,,,,,,
National,60%,21.0,NaN,NaN,52%,20.7
Alabama,100%,19.2,100%,19.1,100%,18.9
Alaska,65%,19.8,33%,20.8,38%,20.1
Arizona,62%,19.7,66%,19.2,73%,19.0
Arkansas,100%,19.4,100%,19.4,100%,19.3

In [502]:
#gdp_by_states2019_df.to_csv('gdp2.csv') # this works.

SAT Scores - Remove English and Math. I only need Participation rates and Total scores.

In [503]:
mergedSAT_df2 = mergedSAT_df.drop(columns=['2017 EBRW','2017 Math','2018 EBRW','2018 Math','2019 EBRW','2019 Math'])
mergedSAT_df2.rename(columns = {'2017 Participation':'2017 SAT Participation', '2017 Total':'2017 SAT Total', '2018 Participation':'2018 SAT Participation', '2018 Total':'2018 SAT Total', '2019 Participation':'2019 SAT Participation', '2019 Total':'2019 SAT Total' }, inplace = True)
mergedSAT_df2.head()

,2017 SAT Participation,2017 SAT Total,2018 SAT Participation,2018 SAT Total,2019 SAT Participation,2019 SAT Total
State,,,,,,
Alabama,5%,1165.0,6%,1166.0,7%,1143
Alaska,38%,1080.0,43%,1106.0,41%,1097
Arizona,30%,1116.0,29%,1149.0,31%,1134
Arkansas,3%,1208.0,5%,1169.0,6%,1141
California,53%,1055.0,60%,1076.0,63%,1065

Nothing needs to be dropped for ACT

In [504]:
mergedACT_df2 = mergedACT_df
mergedACT_df2.rename(columns={'2017 Participation':'2017 ACT Participation', '2017 Composite':'2017 ACT Composite', '2018 Participation':'2018 ACT Participation', '2018 Composite':'2018 ACT Composite', '2019 Participation':'2019 ACT Participation', '2019 Composite':'2019 ACT Composite'}, inplace= True)
mergedACT_df2.head()

,2017 ACT Participation,2017 ACT Composite,2018 ACT Participation,2018 ACT Composite,2019 ACT Participation,2019 ACT Composite
State,,,,,,
National,60%,21.0,NaN,NaN,52%,20.7
Alabama,100%,19.2,100%,19.1,100%,18.9
Alaska,65%,19.8,33%,20.8,38%,20.1
Arizona,62%,19.7,66%,19.2,73%,19.0
Arkansas,100%,19.4,100%,19.4,100%,19.3

In [505]:
mergedSATACT_df = pd.merge(mergedSAT_df2, mergedACT_df2, on='State', how='outer')
mergedSATACT_df.head()

,2017 SAT Participation,2017 SAT Total,2018 SAT Participation,2018 SAT Total,2019 SAT Participation,2019 SAT Total,2017 ACT Participation,2017 ACT Composite,2018 ACT Participation,2018 ACT Composite,2019 ACT Participation,2019 ACT Composite
State,,,,,,,,,,,,
Alabama,5%,1165.0,6%,1166.0,7%,1143.0,100%,19.2,100%,19.1,100%,18.9
Alaska,38%,1080.0,43%,1106.0,41%,1097.0,65%,19.8,33%,20.8,38%,20.1
Arizona,30%,1116.0,29%,1149.0,31%,1134.0,62%,19.7,66%,19.2,73%,19.0
Arkansas,3%,1208.0,5%,1169.0,6%,1141.0,100%,19.4,100%,19.4,100%,19.3
California,53%,1055.0,60%,1076.0,63%,1065.0,31%,22.8,27%,22.7,23%,22.6

In [506]:
mergedSAT_ACT_GDP_df= pd.merge(mergedSATACT_df, gdp_by_states2019_df, on='State', how='outer')
mergedSAT_ACT_GDP_df

,2017 SAT Participation,2017 SAT Total,2018 SAT Participation,2018 SAT Total,2019 SAT Participation,2019 SAT Total,2017 ACT Participation,2017 ACT Composite,2018 ACT Participation,2018 ACT Composite,2019 ACT Participation,2019 ACT Composite,2019:Q1 (Millions USD,2019:Q2 (Millions USD,2019:Q3 (Millions USD,2019:Q4 (Millions USD
State,,,,,,,,,,,,,,,,
Alabama,5%,1165.0,6%,1166.0,7%,1143.0,100%,19.2,100%,19.1,100%,18.9,202231.1,203117.0,203833.4,204354.1
Alaska,38%,1080.0,43%,1106.0,41%,1097.0,65%,19.8,33%,20.8,38%,20.1,52889.5,52930.1,53788.5,53737.8
Arizona,30%,1116.0,29%,1149.0,31%,1134.0,62%,19.7,66%,19.2,73%,19.0,319443.4,322027.1,325925.6,328181.3
Arkansas,3%,1208.0,5%,1169.0,6%,1141.0,100%,19.4,100%,19.4,100%,19.3,116073.3,116244.8,117019.8,117825.9
California,53%,1055.0,60%,1076.0,63%,1065.0,31%,22.8,27%,22.7,23%,22.6,2693526.5,2736221.0,2751471.1,2776155.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Plains,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1174058.6,1180596.6,1189963.4,1196901.2
Southeast,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3962367.3,3985307.5,4012771.2,4028427.3
Southwest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2368775.9,2385283.3,2425201.6,2445035.3
Rocky Mountain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,678463.2,683304.7,693928.8,697000.7
Far West,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3728814.6,3774947.3,3800938.5,3834356.6

In [507]:
mergedSAT_ACT_GDP_df.dropna().head()

,2017 SAT Participation,2017 SAT Total,2018 SAT Participation,2018 SAT Total,2019 SAT Participation,2019 SAT Total,2017 ACT Participation,2017 ACT Composite,2018 ACT Participation,2018 ACT Composite,2019 ACT Participation,2019 ACT Composite,2019:Q1 (Millions USD,2019:Q2 (Millions USD,2019:Q3 (Millions USD,2019:Q4 (Millions USD
State,,,,,,,,,,,,,,,,
Alabama,5%,1165.0,6%,1166.0,7%,1143.0,100%,19.2,100%,19.1,100%,18.9,202231.1,203117.0,203833.4,204354.1
Alaska,38%,1080.0,43%,1106.0,41%,1097.0,65%,19.8,33%,20.8,38%,20.1,52889.5,52930.1,53788.5,53737.8
Arizona,30%,1116.0,29%,1149.0,31%,1134.0,62%,19.7,66%,19.2,73%,19.0,319443.4,322027.1,325925.6,328181.3
Arkansas,3%,1208.0,5%,1169.0,6%,1141.0,100%,19.4,100%,19.4,100%,19.3,116073.3,116244.8,117019.8,117825.9
California,53%,1055.0,60%,1076.0,63%,1065.0,31%,22.8,27%,22.7,23%,22.6,2693526.5,2736221.0,2751471.1,2776155.1

In [508]:
mergedSAT_ACT_GDP_df.shape

(65, 16)

In [509]:
mergedSAT_ACT_GDP_df['2019 Total GDP (Millions USD)']= mergedSAT_ACT_GDP_df['2019:Q1 (Millions USD'] + mergedSAT_ACT_GDP_df['2019:Q2 (Millions USD'] + mergedSAT_ACT_GDP_df['2019:Q3 (Millions USD'] + mergedSAT_ACT_GDP_df['2019:Q4 (Millions USD']
mergedSAT_ACT_GDP_df.drop(columns=['2019:Q1 (Millions USD','2019:Q2 (Millions USD','2019:Q3 (Millions USD','2019:Q4 (Millions USD'], inplace=True)
mergedSAT_ACT_GDP_df

,2017 SAT Participation,2017 SAT Total,2018 SAT Participation,2018 SAT Total,2019 SAT Participation,2019 SAT Total,2017 ACT Participation,2017 ACT Composite,2018 ACT Participation,2018 ACT Composite,2019 ACT Participation,2019 ACT Composite,2019 Total GDP (Millions USD)
State,,,,,,,,,,,,,
Alabama,5%,1165.0,6%,1166.0,7%,1143.0,100%,19.2,100%,19.1,100%,18.9,813535.6
Alaska,38%,1080.0,43%,1106.0,41%,1097.0,65%,19.8,33%,20.8,38%,20.1,213345.9
Arizona,30%,1116.0,29%,1149.0,31%,1134.0,62%,19.7,66%,19.2,73%,19.0,1295577.4
Arkansas,3%,1208.0,5%,1169.0,6%,1141.0,100%,19.4,100%,19.4,100%,19.3,467163.8
California,53%,1055.0,60%,1076.0,63%,1065.0,31%,22.8,27%,22.7,23%,22.6,10957373.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Plains,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4741519.8
Southeast,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15988873.3
Southwest,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9624296.1
Rocky Mountain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2752697.4
Far West,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15139057.0

In [510]:
mergedSAT_ACT_GDP_df = mergedSAT_ACT_GDP_df.dropna()
mergedSAT_ACT_GDP_df.head()

,2017 SAT Participation,2017 SAT Total,2018 SAT Participation,2018 SAT Total,2019 SAT Participation,2019 SAT Total,2017 ACT Participation,2017 ACT Composite,2018 ACT Participation,2018 ACT Composite,2019 ACT Participation,2019 ACT Composite,2019 Total GDP (Millions USD)
State,,,,,,,,,,,,,
Alabama,5%,1165.0,6%,1166.0,7%,1143.0,100%,19.2,100%,19.1,100%,18.9,813535.6
Alaska,38%,1080.0,43%,1106.0,41%,1097.0,65%,19.8,33%,20.8,38%,20.1,213345.9
Arizona,30%,1116.0,29%,1149.0,31%,1134.0,62%,19.7,66%,19.2,73%,19.0,1295577.4
Arkansas,3%,1208.0,5%,1169.0,6%,1141.0,100%,19.4,100%,19.4,100%,19.3,467163.8
California,53%,1055.0,60%,1076.0,63%,1065.0,31%,22.8,27%,22.7,23%,22.6,10957373.7